<div class="container">
	<br />
	<input
		#userInput
		[(ngModel)]="this.user"
		type="text"
		id="userInput"
		placeholder="Digite seu usuário"
		(keydown.enter)="req()"
		autofocus
	/>
	<button (click)="req()">pega repos</button>
	<br />

	<!-- [ngStyle]="{ 'animation-duration': 2 + 's' }" -->
	<div class="card animated pulse fast" *ngFor="let repo of repos">
		<span><b>Nome completo:</b> {{ repo.name }}</span>
		<span><b>Nome completo:</b> {{ repo.fullName }}</span>
		<span><b>Privado:</b> {{ repo.isPrivate }} </span>
	</div>
</div>
